# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Generated output
output.txt
log.txt
names.txt

# Runtime data
cities.json
data.json
students.json
books.json
users.json
person.json


# OS files
.DS_Store
Thumbs.db